<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Панировщик </title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <p></p>
    <a class="navbar-brand" href="/registration/">Регистрация</a>
    <div class="container">

        <div class="col">
            <form class="form-inline my-2 my-lg-0" action="/login/">
                <input class="form-control mr-sm-2" type="text" placeholder="Email" name="email">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Логин</button>
            </form>
        </div>
        <p></p>
        <div class="col">
            <form class="form-inline my-2 my-lg-0" action="/registration/">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Регистрация</button>
            </form>
        </div>
    </div>


</body>
</html>