<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Панировщик </title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <form class="form-inline my-2 my-lg-0" action="/login/">
        <input class="form-control mr-sm-2" type="text" placeholder="Email" name="email">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Логин</button>
    </form>
    <form class="form-inline my-2 my-lg-0" action="/registration/">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Регистрация</button>
    </form>
    <a class="navbar-brand" href="/registration/">Домашняя страница</a>
</body>
</html>