<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Регистрация </title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>

    <div class="container">

        <div class="col-6">
            <h2>Регистрация</h2>
            <form class="form-horizontal" method="POST" action="{{ url_for('add_user') }}">
                <div class="form-group">
                <label class="control-label col-xs-3" for="first_name">Имя:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Введите имя">
                    </div>
                </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="last_name">Фамилия:</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Введите фамилию">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="nickname">Ник:</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Введите ник">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="email">Email:</label>
                <div class="col-xs-9">
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="password">Пароль:</label>
                <div class="col-xs-9">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="confirm_password">Подтвердите пароль:</label>
                <div class="col-xs-9">
                  <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Введите пароль ещё раз">
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-3" for="role">Выберите свою роль:</label>
                   <select class="form-control">
                       {% for each in list_of_roles %}
                            <option selected value="{{each}}" id={{each}} name="role">{{each}}</option>
                       {% endfor %}
                   </select>
              </div>

              <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                  <label class="checkbox-inline">
                    <input type="checkbox" value="agree">  Я согласен с <a href="#">условиями</a>.
                  </label>
                </div>
              </div>
              <br />
              <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                  <input type="submit" class="btn btn-primary" value="Регистрация">
                  <input type="reset" class="btn btn-default" value="Очистить форму">
                </div>
              </div>
            </form>
        </div>
    </div>
</body>
</html>